<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <h3>Sign in</h3>
    <form action="/login" method="POST">
      <p>id: <input type="text" name="id" id="id" placeholder="Enter ID"></p>
      <p>pw: <input type="password" name="password" placeholder="Enter PW"></p>
      <p><input type="submit" name="submit" id="submit" value="Sign in"></p>
    </form>

    <h3>Sign up</h3>
    <form action="/signup" method="POST">
      <p>id: <input type="text" name="id" id="id" placeholder="Enter ID"></p>
      <p>pw: <input type="password" name="password" placeholder="Enter PW"></p>
      <p><input type="submit" name="submit" id="submit" value="Sign in"></p>
    </form>
  </body>
</html>
